.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-color: rgb(174, 174, 174);
    padding: 30px 40px 50px;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.form__fields{
    display: flex;
flex-direction: column;
gap: 5px;
width: 100%;
max-width: 300px;

}
input{
    padding: 15px 5px ;
    background: transparent;
    outline: none;
    /* border: none; */
    border-radius: 54px;
    font-size: 22px;
}
select{
    padding: 15px 5px ;
    background: transparent;
    outline: none;
    /* border: none; */
    border-radius: 54px;
    font-size: 22px;
}