
.heading{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: center; */
    margin-left: 140px;
    margin-top: 30px;

}
.heading span{
    color: rgb(246, 246, 75);
}
.sbtn{
    position: absolute;
    top: 280px;
    left: 310px;

}