.slider{
    background-color: #0C111B;
    padding: 30px;
    height: 700px;
    // border: 1px solid white;
    font-family:"DM Sans", sans-serif;

    .slider__data{

     
    //    border: 1px solid white;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       padding: 30px;
       gap: 10px;

       .slider__images-single{
           flex: 1.5;
           height: 450px;
           border: 1px solid rgb(25, 25, 25);
           
           
           box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
           
       }
       img{
        height: 100%;
        width: 100%;
        border-radius: 15px;
       }

       .slider__images-info{
        flex: 1;
        padding: 25px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border: 1px solid white;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
       
        gap: 20px;
        // border: 1px solid white;

        h3{
            font-size: 45px;
            color: rgb(243, 182, 29);
            letter-spacing: 5px;
            letter-spacing: 5px;
            white-space: 5px;
            
        }
        p{
            text-align: center;
            margin-top: 10px;
            font-size: 15px;
            color: aliceblue;
            // letter-spacing: 5px;
            white-space: 5px;
            line-height: 30px;

        }
       }


    }
}